footer h3 {
	font-size: 28px;
}
.footer {
	background-color: black;
	color: white;
	margin-top: 8rem;
}

.footer .flex-center {
	justify-content: space-between;
	align-items: center;
}
.footer-container {
	max-width: 1800px;
	width: 100%;
	margin-inline: auto;
	margin-top: ;
	padding-inline: 3em;
	padding-block: 6em;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
.footer-small {
	text-align: center;
	font-weight: 300;
	padding: 1rem;
}
footer a {
	color: white;
	text-decoration: underline;
}
footer a:hover {
	color: white;
}

.input-holder {
	position: relative;
}

.input-holder .footer-search-icon {
	color: rgb(151, 151, 151);
	position: absolute;
	left: 1rem;
	top: 50%;
	transform: translateY(-50%);
}
.input-holder .input-footer {
	padding: 0.8rem;
	padding-inline-start: 3rem;
	width: 100%;
	background-color: rgb(0, 0, 0);
	border: white 1px solid;
}
.input-footer::placeholder {
	color: rgba(250, 250, 250, 0.5);
}
.input-holder .input-footer:focus {
	outline: 2px solid white;
	outline-offset: 6px;
}

.text-a-center {
	text-align: center;
}

@media screen and (max-width: 900px) {
	.footer .flex-center {
		justify-content: center;
		/* align-items: center; */
		flex-wrap: wrap;
		margin-bottom: 2rem;
	}
}
