.flex-center {
	display: flex;
}
.navbar {
	background-color: black;
	color: white;
	width: 100vw;
}
.navbar .nav-container {
	/* width: 1800px; */
	width: 100%;
	margin-inline: auto;
	padding-inline: 3em;
	padding-block: 2.8em;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
.navbar ul {
	display: flex;
	list-style: none;
	gap: 2.5rem;
}
.navbar ul li a {
	padding-block: 0.5rem;
}
.navbar a {
	text-decoration: none;
	color: white;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 1px;
}
.flex-right {
	justify-content: right;
}
.active {
	border-bottom: 1px solid white;
}
.navbar .nav-link {
	/* height: 24px; */
	padding-block: 1em;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 8rem;
}

th,
td {
	text-align: center;
	vertical-align: middle;
}

tr td {
	/* background-color: hsla(281, 57%, 47%, 0.074); */
	vertical-align: middle;
}

tbody tr:nth-child(even) {
	background-color: #eaf6f4;
}
tbody tr:nth-child(odd) {
	background-color: rgba(23, 94, 82, 0.3);
}

thead {
	background-color: hsla(170, 61%, 23%, 0.7);
}

thead tr th {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	padding: 1rem;
}

/* 
a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
} */

html {
	font-size: 14px;
}
@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

/* .box-shadow {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
} */
